.icon {
  --color1: green;
}
.icon:hover {
  --color1: blue;
  transition-duration: 5s;
}

.icon2 {
  /* для етой иконки в спрайте удаляем fill="#afb1b8" style="fill: var(--color1, #afb1b8)"  */
  fill: green;
}

.icon2:hover {
  fill: blue;
  transition-duration: 5s;
}
