/* Для етой иконки время перехода не работает */
:root {
  --accent: rgb(0, 0, 250);
}
.icon {
  --color1: green;
  border: green solid 5px;
}
.icon:hover {
  --color1: blue;
  border: blue solid 5px;
  transition-duration: 5s;
}

/* Для етой иконки время перехода работает */
.icon2 {
  /* для етой иконки в спрайте удаляем fill="#afb1b8" style="fill: var(--color1, #afb1b8)"  */
  fill: green;
  border: green solid 5px;
}

.icon2:hover {
  fill: var(--accent);
  border: var(--accent) solid 5px;
  transition-duration: 5s;
}
